<div class="mx-auto max-w-screen-lg">
  <div class="flex justify-center">
    <div class="w-96 mt-12">
      <h1 class="text-3xl mb-4">Log In</h1>
      <div class="mb-4">STATUS: {{ form.status }}</div>
      <form class="space-y-6" [formGroup]="form">
        <div>
          <input
            type="text"
            formControlName="username"
            hlmInput
            class="w-full"
            placeholder="Username"
          />
          @if(hasRequiredError('username')) {
          <small class="text-destructive">El usuario es requerido</small>
          }
        </div>
        <div>
          <input
            type="password"
            formControlName="password"
            placeholder="******"
            hlmInput
            class="w-full"
          />
          @if(hasRequiredError('password')) {
          <small class="text-destructive">La contraseña es requerida</small>
          }
        </div>

        <div class="flex justify-end">
          <button
            hlmBtn
            type="submit"
            class="flex items-center gap-x-2"
            [disabled]="form.invalid"
          >
            <span>Submit</span>
            <!-- <hlm-icon class="animate-spin" size="sm" name="lucideLoader" /> -->
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
